.outer {
  /* 1280 */

  position: relative;
  width: 1280px;
  height: 947px;

  /* GrayBlue / MainBG #F5F7FA */

  background: #f5f7fa;
}
.Services {
  /* Services */
  position: relative;
  width: 150px;
  height: 167px;
  left: 112px;
  top: 85px;
  /* Headline / 1, Light, 39pt */
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 46px;
  /* identical to box height */
  color: #262626;
}
.Filter {
  position: relative;
  width: 600px;
  height: 20px;
  left: 0px;
  top: 20px;
}
.FilterText {
  /* Filter */
  position: absolute;
  width: 35px;
  height: 17px;
  left: 0px;
  top: 0px;
  /* Special / Label & Tag, Regular, 11pt */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  /* identical to box height */
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #7d7d7d;
  border-radius: 3px;
}
.Glow {
  /* Body */
  position: absolute;
  width: 300px;
  border-radius: 4px;
  height: 48px;
  left: 0px;
  right: 0px;
  top: 90px;
  background: #ffffff;
  /* Blue 1 */
  border: 1px solid #2f80ed;
  box-sizing: border-box;
  border-radius: 4px;
}
.Reset {
  /* reset */
  position: absolute;
  width: 149px;
  height: 48px;
  left: 470px;
  top: 90px;
}
.ResetBody {
  /* Body */
  position: absolute;
  left: 0px;
  right: 2px;
  top: 0%;
  bottom: 0%;
  width:149px;
  /* GrayBlue / MainBG #F5F7FA */
  background: #f5f7fa;
  /* GrayBlue / MainStroke #CFD2D9 */
  border: 1px solid #cfd2d9;
  box-sizing: border-box;
  border-radius: 4px;
}
.ResetContent .Button{
    width:140px;
}
.ResetContent {
  /* Reset */
  position: absolute;
  width: 149px;
  height: 28px;
  left: calc(50% - 48px / 2 + 0.5px);
  top: 10px;
  /* Body / Lead L, Regular, 19pt */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 28px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  /* GrayPure / MainText #262626 */
  color: #262626;
}
.Cd {
  position: relative;
  left: 55px;
  top: 70px;
}
.Footer {
  /* Footer */
  position: absolute;
  width: 1200px;
  height: 52px;
  left: 80px;
  top: 895px;
}
.FooterDashboard {
  position: absolute;
  width: 1200px;
  height: 52px;
  left: 80px;
  top: 895px;
}

.Solid {
  position: absolute;
  left: 0%;
  right: 0%;
  top: -nan;
  bottom: -nan;

  /* GrayPure / #E9E9E9 */

  border: 1px solid #e9e9e9;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.SolidDivider {
  /* Solid Divider + */
  position: absolute;
  height: 0px;
  left: 32px;
  right: 30px;
  top: 1px;
}
.LanguageMenu {
  /* Language Menu */
  position: absolute;
  visibility: hidden;
  width: 117px;
  height: 114px;
  right: 5px;
  top: 25px;
}
.SectionStatic {
  /* Section Static */
  position: absolute;
  visibility: hidden;
  left: 44.44%;
  right: 27.35%;
  top: 0%;
  bottom: 86.21%;
}
.Pyc {
  /* Рус */

  position: absolute;
  width: 26px;
  height: 17px;
  left: 3px;
  top: 0px;

  /* Headline / 7, Uppercase, 13pt */

  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.02em;
  text-transform: uppercase;

  /* GrayBlue / DarkBG#1B1D29 */

  color: #1b1d29;
}
#SideBarMenuCollapsed {
  /* Sidebar Menu Collapsed + */
  position: absolute;
  width: 80px;
  left: 0px;
  top: 0px;
  bottom: 0px;
}
#TopBarMenu {
  /* Top Bar Menu + */
  position: absolute;
  width: 1200px;
  height: 80px;
  left: 80px;
  top: 0px;

  background: #ffffff;
}
.Bg {
  /* Bg */
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: #ffffff;
}
.Balance {
  position: absolute;
  width: 87px;
  height: 46px;
  left: 32px;
  top: 18px;
}
.BalanceText {
  /* Balance */
  position: absolute;
  width: 47px;
  height: 20px;
  left: 32px;
  top: calc(50% - 20px / 2 - 12px);
  /* Body / Body S, Regular, 13 pt */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
  /* GrayPure / #7D7D7D */
  color: #7d7d7d;
}
.BalanceAmount {
  /* 213 920 $ */
  position: absolute;
  width: 87px;
  height: 26px;
  left: 32px;
  top: calc(50% - 26px / 2 + 11px);
  /* Headline / 4, Regular, 19pt */
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 26px;
  /* identical to box height */
  display: flex;
  align-items: center;
  /* GrayPure / MainText #262626 */
  color: #262626;
}
.WillBePaid {
  /* Will Be Paid */
  position: absolute;
  width: 87px;
  height: 46px;
  left: 143px;
  top: 18px;
}
.Payout {
  /* Payout */
  position: absolute;
  width: 40px;
  height: 20px;
  left: 143px;
  top: calc(50% - 20px / 2 - 12px);
  /* Body / Body S, Regular, 13 pt */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
  /* GrayPure / #7D7D7D */
  color: #7d7d7d;
}
.PayoutAmount {
  /* 159 465 $ */
  position: absolute;
  width: 87px;
  height: 26px;
  left: 143px;
  top: calc(50% - 26px / 2 + 11px);
  /* Headline / 4, Regular, 19pt */
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 26px;
  /* identical to box height */
  display: flex;
  align-items: center;
  /* GrayPure / MainText #262626 */
  color: #262626;
}

#body {
  position: relative;
  width: 1280px;
  height: 947px;
  background: #f5f7fa;
}

.SideBarMenuExpanded {
  /* Sidebar Expanded */

  position: absolute;
  width: 80px;
  left: 0px;
  top: 0px;
  bottom: 0px;

  /* GrayBlue / DarkBG#1B1D29 */

  background: #1b1d29;
}
.FooterText {
  /* © IT Promocodes, 2019 */
  position: absolute;
  width: 137px;
  height: 20px;
  right: 59px;
  top: 913px;
  /* Body / Body S, Regular, 13 pt */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
  /* GrayPure / #A8A8A8 */
  color: #a8a8a8;
}

.Arrow {
  /* Arrow */

  position: absolute;
  visibility: hidden;
  left: 86.32%;
  right: 9.48%;
  top: 25%;
  bottom: 57.46%;

  background: #1b1d29;
  transform: matrix(0, -1, -1, 0, 0, 0);
}
.Rectangle_1 {
  /* Rectangle */

  position: absolute;
  visibility: hidden;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #1b1d29;
}
.Icon_1 {
  /* Icon */

  position: absolute;
  left: 0%;
  right: 0%;
  top: 81.25%;
  bottom: -43.75%;

  /* GrayBlue / IconColor #76777F */

  background: #76777f;
  border-radius: 0.3px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.Icon_Arrow_Down {
  /* Icon Arrow Down */

  position: absolute;
  visibility: hidden;
  left: 93.16%;
  right: 0%;
  top: 2.59%;
  bottom: 90.52%;
}
.Flag_Ru {
  /* flag_ru */

  position: absolute;
  visibility: hidden;
  left: 72.65%;
  right: 13.68%;
  top: 0.86%;
  bottom: 88.79%;
}
.Vector_2 {
  /* Vector */

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #ffffff;
}
.Vector_1 {
  /* Vector */

  position: absolute;
  left: 0%;
  right: 0%;
  top: 33.33%;
  bottom: 0%;

  background: #0039a6;
}
.Vector {
  /* Vector */

  position: absolute;
  left: 0%;
  right: 0%;
  top: 66.67%;
  bottom: 0%;

  background: #d52b1e;
}
.Shadow {
  /* shadow */

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  opacity: 0.1;
  border: 1px solid #000000;
  box-sizing: border-box;
}

#t {
  /* t 40x40 */
  position: absolute;
  width: 40px;
  height: 40px;
  left: 18px;
  top: 20px;
}
.MainContent {
  position: relative;
  background: #e5e5e5;
}
.SideBarExpanded {
  /* Sidebar Expanded */
  position: absolute;
  width: 80px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  /* GrayBlue / DarkBG#1B1D29 */
  background: #1b1d29;
}
.Glyph {
  /* Glyph */
  position: absolute;
  left: 15%;
  right: 18.33%;
  top: 0%;
  bottom: 0%;

  /* Blue / BrandBlue #0085FF */

  background: #1b1d29;
}

.FilterBody {
  /* Body */
  position: absolute;
  width: 300px;
  border-radius: 4px;
  height: 48px;
  left: 0px;
  right: 0px;
  top: 20px;
  background: #ffffff;
  /* Blue 1 */
  border: 1px solid #2f80ed;
  box-sizing: border-box;
  border-radius: 4px;
}
.Se {
  /* Se */
  position: absolute;
  width: 17px;
  height: 22px;
  left: 17px;
  top: 40px;
  /* Body / Standard, Regular, 15pt */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */
  color: #262626;
}

.Caret {
  /* Caret */
  position: absolute;
  width: 20px;
  height: 0px;
  left: 25px;
  top: 46px;

  border: 1px solid #000000;
  transform: rotate(90deg);
}

.FilterInput {
  /* Body */
  position: absolute;
  height: 48px;
  left: 0px;
  right: 0px;
  top: 24px;
  background: #ffffff;
  /* Blue 1 */
  border: 1px solid #2f80ed;
  box-sizing: border-box;
  border-radius: 4px;
}

.Icon {
  /* ICON */
  position: absolute;
  width: 24px;
  height: 24px;
  left: 28px;
  top: 128px;
  /* GrayBlue / #888991 */
  background: #888991;
}
.DashboardRectangle {
  /* Rectangle */
  position: absolute;
  width: 80px;
  height: 72px;
  left: 0px;
  top: 104px;
  background: #c4c4c4;
  opacity: 0;
}
.Dashboard {
  /* Dashboard */
  position: absolute;
  left: 0%;
  right: 0%;
  top: 10.98%;
  bottom: 81.41%;
}
.Rectangle {
  /* Rectangle */
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #76777f;
  opacity: 0;
}

.Card {
  /* Card */

  position: relative;
  width: 1136px;
  height: 120px;
  left: 110px;
  top: 80px;
  /* GrayPure / #White */

  background: #ffffff;
  /* GrayBlue / #E2E5EC */

  border: 1px solid #e2e5ec;
  box-sizing: border-box;
  border-radius: 6px;
}
.CardDisplay {
  /* Card */

  position: relative;
  width: 1136px;
  height: 120px;
  left: 90px;
  top: 190px;
  /* GrayPure / #White */

  background: #ffffff;
  /* GrayBlue / #E2E5EC */

  border: 1px solid #e2e5ec;
  box-sizing: border-box;
  border-radius: 6px;
}
.Description {
  /* Description */

  position: absolute;
  width: 76px;
  height: 22px;
  left: 20px;
  top: 70px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  color: #7d7d7d;
}
.Pro {
  position: absolute;
  width: 300px;
  height: 43px;
  left: 370px;
  top: 60px;
}
.Pro2 {
  position: absolute;
  width: 300px;
  height: 43px;
  left: 592px;
  top: 20px;
}
.CopyPasteIcon Button {
  background: white;
  border: none;
}
.CopyPasteIcon {
  /* Icon */

  position: absolute;
  left: 254px;
  right: 6.25%;
  top: 8px;

  /* Blue / BrandBlue #0085FF */

  border-radius: 0px;
}
.TextPromo {
  padding-left: 15px;
}
.ActiveBonus Button {
  background: #0085ff;
  color: #ffffff;
  border: none;
}
.BonusRed .ActiveBonus Button {
  background: red;
  color: #ffffff;
  border: none;
}
.ItPromoCode {
  /* itpromocodes */

  position: absolute;
  width: 273px;
  height: 30px;
  left: 8px;
  top: 5px;

  /* Body / Standard, Regular, 15pt */
  margin-left: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  color: #262626;
}
.CardButton {
  position: absolute;
  width: 230px;
  height: 48px;
  left: 916px;
  top: 300px;
}
.BonusBody {
  /* Body */

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  /* Blue / BrandBlue #0085FF */

  background: #0085ff;
  border-radius: 4px;
}
.BonusRed {
  /* Body */

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  /* Blue / BrandBlue #0085FF */

  background: red;
  border-radius: 4px;
}
.StandardBlue {
  /* Standard Blue / 01 Normal Body Button */
  position: absolute;
  left: 843px;
  top: 60px;
  height: 43px;
  width: 207px;
}
.ActiveBonus {
  /* Activate bonus */

  position: absolute;
  width: 150px;
  height: 28px;
  left: calc(50% - 126px / 2);
  top: 9px;

  /* Body / Lead L, Regular, 19pt */

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 28px;
  /* identical to box height */

  text-align: center;

  /* GrayPure / #White */

  color: #ffffff;
}
.CardBody {
  /* Body */

  position: absolute;
  height: 48px;
  left: 0px;
  right: 0px;
  top: 0px;

  background: #ffffff;
  /* GrayBlue / MainStroke #CFD2D9 */

  border: 1px solid #cfd2d9;
  box-sizing: border-box;
  border-radius: 4px;
}
.PromoCode {
  /* Promocode */

  position: absolute;
  width: 69px;
  height: 17px;
  left: 370px;
  top: 40px;

  /* Special / Label & Tag, Regular, 11pt */

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;
  letter-spacing: 0.015em;
  text-transform: uppercase;

  color: #7d7d7d;

  border-radius: 3px;
}
.Promo {
  /* Sitecostructor.io */

  position: absolute;
  width: 207px;
  height: 43px;
  left: 20px;
  top: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 29px;
  line-height: 42px;
  /* identical to box height */

  color: #000000;
}
.PrimaryButton {
  /* 48 Primary Btn */

  position: absolute;
  width: 300px;
  height: 48px;
  left: 916px;
  top: 327px;
}
.ActivateBonus {
  /* Activate bonus */

  position: absolute;
  width: 126px;
  height: 28px;
  left: calc(50% - 126px / 2);
  top: 12px;

  /* Body / Lead L, Regular, 19pt */

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 28px;
  /* identical to box height */

  text-align: center;

  /* GrayPure / #White */

  color: #ffffff;
}

.StandardBlueBody {
  /* Body */

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  /* Blue / BrandBlue #0085FF */

  background: #0085ff;
  border-radius: 4px;
}
